<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<div class="wrapper">
    <nav>
        <h2 >Resto<span>Serv</span></h2>
        <ul class="links">
            <li><a routerLinkActive="class current" href="">Home</a></li>
            <li><a routerLinkActive="class current" href="">About</a></li>
            <li><a routerLinkActive="class current" href="">Coding</a>
                <ul class="dropdown">
                    <li><a href="">Java</a></li>
                    <li><a href="">C++</a></li>
                    <li class="dropdown-link"><a href="">JavaScript</a>
                        <ul class="dropdown-2">
                            <li><a href="">React</a></li>
                            <li><a href="">Vue</a></li>
                            <li><a href="">Angular</a></li>
                        </ul>
                    </li>
                    <li><a routerLinkActive="class current" href="">PHP</a></li>
                </ul>
            </li>
            <li><a routerLinkActive="class current" href="">Contact</a></li>
            <li><a routerLinkActive="class current" href="">livraison</a>
                <ul class="dropdown">
                    <li><a href="">Java</a></li>
                    <li><a href="">C++</a></li>
                    <li class="dropdown-link"><a href="">JavaScript</a>
                        <ul class="dropdown-2">
                            <li><a href="">React</a></li>
                            <li><a href="">Vue</a></li>
                            <li><a href="">Angular</a></li>
                        </ul>
                    </li>
                    <li><a href="">PHP</a></li>
                </ul>
                
            </li>
            <li><a routerLinkActive="class current" href="">déconnecter</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-power-off"></i></a></li>
            <li><a href="#"><i class="fas fa-bell"></i></a></li>
            <li><a href=""><i class="fas fa-bell">Contact</i></a>
                <ul class="dropdown">
                    <li><a href="">Java</a></li>
                    <li><a href="">C++</a></li>
                    <li class="dropdown-link"><a href="">JavaScript</a>
                        <ul class="dropdown-2">
                            <li><a href="">React</a></li>
                            <li><a href="">Vue</a></li>
                            <li><a href="">Angular</a></li>
                        </ul>
                    </li>
                    <li><a href="">PHP</a></li>
                    
                    
                    
                </ul>
                
            </li>
            
        </ul>
    </nav>
</div>